
<mat-card>
    
    <form #todoItem="ngForm" (ngSubmit)="onTodoAdd()">
        
        <mat-card-content>
            <div class="form-group">
                <label for="todo">Todo Item* :-</label>
                <input type="text"
                        class="form-control"
                        name="todo"
                        id="todo"
                        ngModel
                        #todo="ngModel"
                        required
                        minlength="4"
                        maxlength="10">

                <span class="text-danger"
                        *ngIf="todo.invalid && todo.touched && todo.hasError('required')">
                            Todo Item is Required
                </span>
                <span class="text-danger"
                        *ngIf="todo.dirty && todo.hasError('minlength')">
                            Minimum Length of Todo Item should be {{todo.errors?.['minlength'].requiredLength}}
                            and actual length is {{todo.errors?.['minlength'].actualLength}}
                </span>
            </div>

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Todo Item</mat-label>
                <input matInput type="text"
                                name="todo"
                                id="todo"
                                ngModel
                                #todo="ngModel"
                                required
                                minlength="4"
                                maxlength="10">

                <span class="text-danger"
                     *ngIf="todo.invalid && todo.touched && todo.hasError('required')">
                            Todo Item is Required
                </span>
                <span class="text-danger"
                      *ngIf="todo.dirty && todo.hasError('minlength')">
                            Minimum Length of Todo Item should be {{todo.errors?.['minlength'].requiredLength}}
                            and actual length is {{todo.errors?.['minlength'].actualLength}}
                </span>
            </mat-form-field> -->
                
        </mat-card-content>

        <button mat-raised-button color="primary" type="submit" class="btn-block" [disabled]="todoItem.invalid">Add Todo</button>
    </form>
</mat-card>