<mat-card class="mb-5">
    <mat-card-header>
        <mat-card-title class="header">
            Student Form
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #logIn="ngForm" (ngSubmit)="onStdAdd()" >
            
            <div class="form-group">
                <label for="fname">First Name :-</label>
                <input type="text"
                        class="form-control"
                        name="fname"
                        id="fname"
                        ngModel
                        #fname="ngModel"
                        pattern="[a-zA-Z]+"
                        required
                        minlength="4"
                        maxlength="10">

                <span class="text-danger"
                        *ngIf="fname.invalid && fname.touched && fname.hasError('required')">
                                    First Name is Required
                </span>
                <ng-container *ngIf="fname.dirty">
                      <span class="text-danger"
                        *ngIf="fname.hasError('minlength')">
                              Minimum Length of First Name should be {{fname.errors?.['minlength'].requiredLength}}
                           and actual length is {{fname.errors?.['minlength'].actualLength}}
                      </span>
                      <span class="text-danger"
                        *ngIf="fname.hasError('pattern')">
                              First Name Should not include Special Character & Number
                      </span>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="lname">Last Name :-</label>
                <input type="text"
                        class="form-control"
                        name="lname"
                        id="lname"
                        ngModel
                        #lname="ngModel"
                        pattern="[a-zA-Z]+"
                        required
                        minlength="3"
                        maxlength="10">

                <span class="text-danger"
                        *ngIf="lname.invalid && lname.touched && lname.hasError('required')">
                                   Last Name is Required
                </span>
                <ng-container *ngIf="lname.dirty">
                      <span class="text-danger"
                        *ngIf="lname.hasError('minlength')">
                              Minimum Length of Last Name should be {{lname.errors?.['minlength'].requiredLength}}
                           and actual length is {{lname.errors?.['minlength'].actualLength}}
                      </span>
                      <span class="text-danger"
                        *ngIf="lname.hasError('pattern')">
                             Last Name Should not include Special Character & Number
                      </span>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="email">Email ID :-</label>
                <input type="text"
                        class="form-control"
                        name="email"
                        id="email"
                        ngModel
                        #email="ngModel"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                        required>

                <span class="text-danger"
                        *ngIf="email.invalid && email.touched && email.hasError('required')">
                        Email Id is required
                </span>
                <span class="text-danger"
                          *ngIf="email.dirty && email.hasError('pattern')">
                                Invalid Email Id
                </span>
            </div>

            <div class="form-group">
                <label for="contact">Contact :-</label>
                <input type="text"
                        class="form-control"
                        name="contact"
                        id="contact"
                        ngModel
                        #contact="ngModel"
                        pattern="^\d*$"
                        required
                        minlength="10"
                        maxlength="10">

                <span class="text-danger"
                        *ngIf="contact.invalid && contact.touched && contact.hasError('required')">
                        Contact is required
                </span>
                <ng-container *ngIf="contact.dirty">
                    <span class="text-danger"
                          *ngIf="contact.hasError('minlength')">
                                Minimum Length of First Name should be {{contact.errors?.['minlength'].requiredLength}}
                             and actual length is {{contact.errors?.['minlength'].actualLength}}
                    </span>
                    <span class="text-danger"
                          *ngIf="contact.hasError('pattern')">
                                First Name Should not include Special Character & Number
                    </span>
                </ng-container>
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <div class="ml-3" *ngFor="let g of gender">
                    <label [for]="g.gen">
                        <input type="radio" [value]="g.gen" name="gender" ngModel [id]="g.id">
                        {{g.gen}}
                    </label>
                </div>
            </div>
            
            <button mat-stroked-button color="primary" [disabled]="logIn.invalid" class="btn-block">Add Student</button>
        </form>
    </mat-card-content>
</mat-card>